@import '../breakpoints';

.comments {
    margin: 100px 0;

    &__title {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }

    &__slider {
        margin-top: 64px;

    }

    &__slide {
        background: #1A1A22;
        border-radius: 12px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        &-title {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #FFFFFF;
            margin-top: 24px;
        }

        &-text {
            margin-top: 16px;
            font-family: 'Nunito';
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: rgb(255, 255, 255, 0.5);
            flex: 1;
        }
    }

    &__stars {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    &__star {
        width: 20px;
        height: 20px;
    }

    &__user {
        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-top: 32px;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__name {
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
    }

    &__status {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgb(255, 255, 255, 0.5);
    }

    &__controllers {
        display: flex;
        column-gap: 20px;
        margin-top: 64px;
    }

    &__switch {
        width: 56px;
        height: 56px;
        background: none;
        border: 0.571429px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background 0.1s ease-in-out;

        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }

    &__arrow {
        width: 24px;
        height: 24px;

        &_reverse {
            transform: rotateZ(180deg);
        }
    }
}

@media (max-width: $xl) {
    .comments {

        &__controllers {
            margin-top: 32px;
        }
    }
}

@media (max-width: $md) {
    .comments {

        &__slider {
            margin-top: 24px;
        }

        &__title {
            font-size: 20px;
            line-height: 32px;
            text-align: left;
        }

        &__controllers {
            column-gap: 12px;
        }

        &__switch {
            width: 32px;
            height: 32px;
        }

        &__arrow {
            width: 13px;
            height: 13px;
        }
    }
}