@import '../breakpoints';

.games {
    margin: 100px 0;

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }

    &__list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-top: 64px;
    }

    &__item {
        position: relative;
        width: 410px;
        height: 410px;
        border-radius: 12px;
        overflow: hidden;
        transition: all .2s ease-in-out;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
            transition: all .1s ease-in-out;
        }

        &:hover::after {
            background: rgba(0, 0, 0, 0);
        }
    }

    &__slider,
    &__slider-controllers {
        display: none !important;
    }

    &__slider {
        margin-top: 24px;

        &-controllers {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 12px;
            margin-top: 12px;
        }
    }

    &__switch {
        width: 32px;
        height: 32px;
        background: none;
        border: 0.571429px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__arrow {
        height: 13px;
        width: 13px;

        &_reverse {
            transform: rotateZ(180deg);
        }
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 11.4402px;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__proposal {
        margin-top: 48px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-text {
            max-width: 45%;
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: rgb(255, 255, 255, 0.8);
        }
    }
}

@media (max-width: $xl) {
    .games {

        &__list {
            width: 100%;
            gap: 20px;
            margin-top: 48px;
        }

        &__item {
            width: 374px;
            height: 410px;
        }

        &__proposal {
            flex-direction: column;
            row-gap: 20px;

            &-text {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: $md) {
    .games {

        &__slider,
        &__slider-controllers {
            display: flex !important;
        }

        &__list {
            display: none;
        }

        &__title {
            font-size: 20px;
            line-height: 32px;
        }

        &__proposal {
            row-gap: 12px;
            margin-top: 12px;

            &-text {
                font-size: 16px;
                line-height: 24px;
            }

            & button {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}