@import '../breakpoints';

.cidmodal {

    &__form {
        margin-top: 24px;
    }

    &__checkbox {

        &-lable {
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            column-gap: 12px;
        }
    }

    &__btn {
        width: 100%;
    }
}

@media (max-width: $md) {
    .cidmodal {

        &__checkbox {
            &-lable {
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
}