@import '../breakpoints';

.aboutaffiliate {
    margin: 100px 0;
    display: flex;
    align-items: center;
    background: #1A1A22;
    border-radius: 50px;
    padding: 48px;
    min-height: 80vh;
    overflow: hidden;
    gap: 50px;
    flex-direction: row-reverse;

    &__textblock {
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
    }

    &__imgblock {
        content: "";
        display: block;
        width: 100%;
        flex: 1;
        height: 100%;
        aspect-ratio: 10 / 10;
        position: relative;

        &_inner {
            position: absolute;
            height: 100%;
            width: 100%;
            aspect-ratio: 16 / 10;
            display: block;
            content: "";
            top: 10%;
            left: -10%;
            filter: drop-shadow(4.79999px 19.2px 95.9998px rgba(40, 139, 255, 0.25));
        }
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        display: flex;
        text-align: left;
        letter-spacing: -0.01em;
    }

    &__icon,
    &__title {
        margin: 0 auto;
    }

    &__text {
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: rgb(255, 255, 255, 0.8);
        margin-top: 24px;
    }

    &__button {
        margin-top: 48px;
    }

    &__mobile-imgblcok {
        display: none !important;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        filter: drop-shadow(1px 5px 32px rgba(40, 139, 255, 0.1));

        & img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: $xl) {
    .aboutaffiliate {
        flex-direction: column;
        min-height: max-content;
        padding: 30px 14px;

        &__title {
            font-size: 32px;
            line-height: 40px;
        }

        &__text {
            font-size: 18px;
            line-height: 28px;
        }
        
        &__button {
            display: none;
        }

        &__imgblock {
            flex: inherit;
            aspect-ratio: 16 / 8;

            &_inner {
                left: 0;
                top: 0;
                height: 200%;
            }
        }
    }
}

@media (max-width: $md) {
    .aboutaffiliate {
        margin: 20px 0;
        flex-direction: column;
        min-height: max-content;

        &__title {
            font-size: 20px;
            line-height: 32px;
        }

        &__text {
            font-size: 18px;
            line-height: 28px;
        }

        &__img,
        &__imgblock {
            display: none;
            flex: inherit;
        }

        &__mobile-imgblcok {
            display: inherit !important;
        }
    }
}