@import '../breakpoints';

.faq {
    background: url('../../public/affiliate/faq.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    height: 55rem;

    &__inside {
        margin: 0 auto;
        background: #fff;
        width: 80%;
        border-radius: 20px;
        padding: 60px;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #222222;
        text-align: center;
    }

    &__subtitle {
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: rgb(34, 34, 34, 0.5);

        margin-top: 20px;
    }

    &__item {
        border-bottom: 1px solid rgba(34, 34, 34, 0.1);
        padding-top: 24px;
        padding-bottom: 32px;

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        &-title {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #222222;
            cursor: pointer;
        }

        &-btn {
            background: none;
            border: none;
            cursor: pointer;
        }

        &-text {
            font-family: 'Nunito';
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: rgb(34, 34, 34, 0.5);
            padding-right: 45px;
            margin-top: 16px;
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            border-bottom: inherit;
            padding-bottom: 0px;
        }
    }
}

@media (max-width: $xxl) {
    .faq {
        height: 60rem;
    }
}

@media (max-width: $lg) {
    .faq {
        height: 75rem;
        &__inside {
            width: 100%;
        }
    }
}

@media (max-width: $sm) {
    .faq {
        height: 60rem;

        &__inside {
            padding: 20px 12px;
        }

        &__title {
            font-size: 20px;
            line-height: 32px;
        }

        &__subtitle {
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 14px;
        }

        &__item {
            padding: 12px 0;

            &-title {
                font-size: 18px;
                line-height: 28px;
            }

            &-text {
                font-size: 16px;
                line-height: 24px;
                margin-top: 12px;
            }
        }
    }
}