@import './AffiliateHero.scss';
@import './AffiliateJoin.scss';
@import './AffiliateFAQ.scss';
@import './AffiliatePartnerConditions.scss';
@import './AffiliateHowAffiliateWorks.scss';
@import '../breakpoints';

.affiliate__header-wrapper {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
} 

.affiliate-container {
    width: 1600px;
    margin: 0 auto;
}

.affiliate-infoplate__img {
    left: -30%;
}

.aboutAffiliate {
    margin: 100px 0;
}

.affiliate {

    &__container-for-shy {
        position: relative;
    }

    &__bg-shy {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        content: "";
        background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #173B69 33.33%, rgba(36, 70, 113, 0.932692) 66.67%, rgba(217, 217, 217, 0) 100%);
    }
}

@media (max-width: $xxxl) {
    .affiliate-container {
        width: 100%;
        padding: 0 50px;
    }
}

@media (max-width: $md) {
    .affiliate-container {
        padding: 0 15px;
    }
}

@media (max-width: 1230px ) {
    .affiliate-infoplate__img {
        left: 0%;
    }
}