.infoplate {
    display: flex;
    column-gap: 30px;
    margin: 100px 0;

    &__img-container,
    &__info {
        flex: 1;
    }

    &__img-container {
        width: 100%;
        border-radius: 12px;
        aspect-ratio: 1 / 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: rgb(255, 255, 255, 0.8);
        white-space: pre-wrap;
        margin-top: 32px;
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01em;
        color: #FFFFFF;
    }

    &__links {
        margin-top: 48px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    &__button {
        margin-top: 64px;
    }
}