.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #1A1A22;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 75px;

    &__left {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    &__navbar {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__logo {
        width: 50px;
        height: 50px;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        transition: color .2s ease-in-out;

        &:hover {
            color: #288BFF;
        }
    }

    &__btn {
        background: #288BFF;
        border-radius: 10px;
        border: none;
        outline: none;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 10px 25px;
        transition: background .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background: #2270ca;
        }
    }
}

@media (max-width: 600px) {
    .header {
        padding: 14px 16px;
        border-radius: 0px 0px 24px 24px;

        &__navbar {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__left {
            gap: 20px;
        }

        &__logo {
            width: 30px;
            height: 30px;
        }

        &__link {
            font-size: 16px;
        }

        &__btn {
            padding: 8px 14px;
            font-size: 14px;

            &-icon {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.footer {
    padding: 40px 75px;
    background: #0D0D12;
    border-top: 1px solid #1A1A22;
    display: flex;
    align-items: center;
    gap: 50px;

    &__logo {
        width: 50px;
        height: 50px;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;


        color: #FFFFFF;

        opacity: 0.8;
        text-decoration: none;
        transition: color .2s ease-in-out;

        &:hover {
            color: #288BFF;
        }
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 20px 16px;
        border-radius: 0px 0px 24px 24px;

        gap: 25px;

        &__logo {
            width: 48px;
            height: 48px;
            margin-right: auto;
        }

        &__link {

            font-size: 16px;
        }
    }
}

.board {
    background: #1A1A22;
    border-radius: 40px;
    padding: 48px 24px;

    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;

        margin-top: 12px;
    }

    &__text {
        font-family: 'Nunito';
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;

        margin-top: 20px;
        max-width: 70%;
    }

    &__over-title {
        background: #494959;
        border-radius: 40px;
        padding: 4px 12px;
        width: max-content;

        & p {
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #288BFF;
        }
    }
}

.board_gamer {
    background: #1A1A22;
    border-radius: 40px;
    padding: 48px 24px;
    position: relative;



}

.board_gamer_gamepad {
    background: url(../public/assets/gamepad.png) no-repeat;
    background-position-x: 140%;
    background-position-y: 60%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.board_gamer_text {
    width: 50%;
}

@media (max-width: 992px) {
    .board_gamer {
        background: #1A1A22 !important;
        border-radius: 40px;
        padding: 48px 24px;



    }

    .board_gamer_gamepad {
        background-position: center !important;
        opacity: 0.1;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .board_gamer_text {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .board {
        text-align: center;

        &__text {
            margin: 20px auto 0 auto;
        }

        &__over-title {
            margin: 0 auto;
            background: transparent;
        }
    }
}

@media (max-width: 600px) {
    .board {
        &__text {
            max-width: 100%;
        }
    }
}

.features {
    margin: 3% 0;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }

    &__img-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 24px;
    }

    &__info {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px
    }

    &__title {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;

        margin-top: 20px;
    }

    &__text {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgb(255, 255, 255, 0.5);

        margin-top: 8px;
    }

    &__icon {
        width: 48px;
        height: auto;
    }
}

@media (max-width: 1200px) {

    .features {
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 16px 0;

        &__container {
            flex-direction: column-reverse !important;
            align-items: inherit;
        }

        &__img-container {
            width: 100%;
            aspect-ratio: 1 / 0.3;
        }
    }
}


@media (max-width: 600px) {
    .features {
        &__img-container {
            aspect-ratio: 1 / 1;

        }

        &__info {
            display: flex;
            flex-direction: column;
        }
    }
}

.about__gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 140%;
    z-index: -2;
    transform: translateY(-50%);
    background: linear-gradient(180deg, rgba(90, 166, 255, 0) 0%, rgba(40, 139, 255, 0.1) 34.9%, rgba(90, 166, 255, 0) 100%);
}

.about__gradient__2 {
    height: 180%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -2;

    transform: translateY(10%);
    background: linear-gradient(180deg, rgba(255, 40, 221, 0) 0%, rgba(190, 59, 242, 0.12) 25%, rgba(255, 40, 221, 0) 50%, rgba(151, 71, 255, 0.12) 75%, rgba(255, 40, 221, 0) 100%);
}

.whoarewe {
    position: relative;

    &__img-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__inside {
        display: flex;
        flex-direction: column;
        gap: 48px;
        position: relative;
        z-index: 1;
    }

    &__img {

        &_right {
            top: 50%;
            right: -20%;
            transform: translateY(-50%);
            position: absolute;
        }

        &_left {
            top: 75%;
            transform: translateY(-50%);
            left: -20%;
            position: absolute;
        }

        &_blue {
            border-radius: 16px;
            box-shadow: 4.79999px 19.2px 95.9998px rgba(40, 139, 255, 0.25);
        }

        &_pink {
            border-radius: 16px;
            box-shadow: 4.79999px 19.2px 95.9998px rgba(255, 40, 221, 0.25);
        }
    }

    &__background {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: linear-gradient(180deg, rgba(255, 40, 221, 0) 0%, rgba(151, 71, 255, 0.3) 47.4%, rgba(255, 40, 221, 0) 100%);
    }
}


@media (max-width: 1350px) {
    .whoarewe {
        &__img {

            &_blue {
                top: 50%;
                right: -40%;
            }

            &_pink {
                top: 75%;
                left: -25%;
            }
        }
    }
}


@media (max-width: 900px) {
    .whoarewe {
        &__background {
            display: none;
        }
    }
}

@media (max-width: 1230px) {
    .board_gamer {
        background: #1A1A22;
        border-radius: 40px;
        padding: 48px 24px;

        background-position-x: 28vw;
        background-position-y: 60%;


    }

    .whoarewe {
        &__img {

            &_pink,
            &_blue {
                display: inherit;
                position: inherit;
                box-shadow: none;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                transform: none;
                width: 100%;
                height: 100%;
            }
        }

    }
}