@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap&family=Inter:wght@500&display=swap');
@import './breakpoints';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0D0D12;
    color: white;
}

html,
body,
#__next {
    height: 100%;

    scroll-behavior: smooth;

}

.wrapper {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    width: 1290px;
    margin: 0 auto;
}

@media (max-width: $xxl) {
    .content {
        width: 1150px;
    }
}

@media (max-width: $xl) {
    .content {
        width: 768px;
    }
}

@media (max-width: $md) {
    .content {
        width: 100%;
        padding: 0 16px;
    }
}

input::placeholder {
    color: #494959;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 6px;
    background: #1A1A22;
}

::-webkit-scrollbar-thumb {
    background: #288BFF;
    border-radius: 10px;
    width: 10px;
}


h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.01em;
    /* White */
    color: #FFFFFF;
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    /* White */
    color: #FFFFFF;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* White */
    color: #FFFFFF;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    /* White */
    color: #FFFFFF;
}

p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}



@media (max-width:768px) {
    h1 {}

    h2 {}
}

.active_link {
    color: #0077ff !important;
}

@import './Landing.module.scss';
@import './About.module.scss';
@import './Privacy.module.scss';
@import './_breakpoints.scss';
@import './Affiliate/index.scss';

@import './components/index.scss';
@import './UI/index.scss';
@import './Home/index.scss';
@import './Modals/index.scss';