.privacy {
    &__title {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
    }

    &__default-text {
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);
    }

    &__min-title {
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #FFFFFF;
    }

    &__wrapper {
        width: 850px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    } 

    &__list {
        color:rgba(255, 255, 255, 0.7);
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

@media (max-width: 1000px) {
    .privacy {
        &__wrapper {
            width: 100%;
        }
    }
}


@media (max-width: 600px) {
    .privacy {
        &__wrapper {
            gap: 15px;
        }
        &__title {
            font-size: 36px;
            line-height: 36px;
        }
        &__default-text {
            font-size: 16px;    
        }
        &__min-title {
            font-size: 20px;
        }
    }
}